.profile__row {
  @include full-flexer;
  .tab__bar {
    width: 20%;
    border-right: 1px solid $light-color;
    .tab__item {
      border-bottom: 1px solid $light-color;
      padding: 0.8em;
      font-weight: $heavy-weight;
      color: $dark-text;
      cursor: pointer;
      .active {
        color: #000;
      }
      span {
        display: block;
      }
    }
  }
  .info__bar {
    width: 80%;
    position: relative;
    .active {
      visibility: visible;
      opacity: 1;
    }
    > div {
      transition: $slow-ease;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .view__cnt {
    padding: 1em;
    h3 {
      font-size: 1.2em;
      text-transform: uppercase;
    }
    .view__item {
      margin-bottom: 1em;
      label {
        width: 100%;
        font-size: 0.82m;
        color: $dark-text;
      }
      input {
        width: 300px;
        border: 1px solid $primary-color;
        padding: 0.2em 0.8em;
        text-transform: capitalize;
        &:focus {
          background-color: $light-color;
        }
      }
    }
  }
}
