.view_product {
  width: 100%;
}

.title__box {
  @include full-flexer;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  border-radius: 8px;
  background-color: #00000020;
  .title__name {
    h2 {
      margin: 0;
      font-size: 1.8em;
    }
  }
  margin-bottom: 1em;
}

.view__product {
  .card-columns {
    .card {
      padding: 1em;
      border-radius: 8px;
      h3 {
        font-size: 1.4em;
        border-bottom: 1px solid #00000020;
      }
      h2 {
        font-weight: 600;
        color: $primary-color;
      }
    }
    .slid {
      padding: 0;
    }
  }
}

.edit__product {
  .view__item {
    margin-bottom: 1em;
    label {
      width: 100%;
      font-size: 0.82m;
      color: $dark-text;
    }
    input,
    textarea,
    select {
      width: 300px;
      border: 1px solid $primary-color;
      padding: 0.2em 0.8em;
      text-transform: capitalize;
      &:focus {
        background-color: $light-color;
      }
    }
    .small__info {
      margin-left: 1em;
      font-weight: 600;
    }
  }
}

.gal__add {
  .gall__row {
    column-count: 3;
    grid-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
    .gal__item {
      display: inline-flex;
      border: 1px solid $primary-color;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      min-height: 210px;
      img {
        width: 80%;
      }
      form {
        width: 80%;
        text-align: center;
        label {
          width: 100%;
          font-weight: 600;
        }
        button {
          margin-top: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .gal__add .gall__row {
    column-count: 2;
    .gal__item {
      margin-bottom: 1.2em;
    }
  }
}
