@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.load__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

.loader {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  grid-gap: 3px;
  width: 100px;
  height: 100px;
}

.loader div {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, right top, from(#f16624), to(#ea7e7e));
  background: linear-gradient(to top right, #f16624, #ea7e7e);
  border-radius: 2px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: loader 2s infinite linear;
          animation: loader 2s infinite linear;
}

.loader div:nth-of-type(1), .loader div:nth-of-type(5), .loader div:nth-of-type(9) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader div:nth-of-type(4), .loader div:nth-of-type(8) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader div:nth-of-type(2), .loader div:nth-of-type(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader div:nth-of-type(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.tbl__cont {
  overflow-x: scroll;
}

.tbl__cont .tbl {
  width: 100%;
  table-layout: fixed;
}

.tbl__cont .tbl thead tr {
  border-bottom: 1px solid #e0ddda;
}

.tbl__cont .tbl thead tr th {
  text-transform: uppercase;
}

.tbl__cont .tbl tbody tr {
  border-bottom: 1px solid #e0ddda;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.tbl__cont .tbl tbody tr td {
  text-transform: capitalize;
  padding: 0.5em;
}

.tbl__cont .tbl tbody tr:hover {
  background-color: #e0ddda;
}

@media screen and (max-width: 1200px) {
  .tbl__cont .tbl {
    width: 1024px;
  }
}

@media screen and (max-width: 1200px) {
  .tbl__cont .tbl {
    width: 992px;
  }
}

@media screen and (max-width: 768px) {
  .tbl__cont .tbl {
    width: 800px;
  }
}

.search__box {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.login__row .form__part {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login__row .form__part .site__title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #f16624;
  font-weight: 600;
}

.login__row .form__part form {
  width: 348px;
}

.login__row .form__part form .form__item {
  margin-bottom: 1em;
}

.login__row .form__part form .form__item label {
  display: block;
  width: 100%;
  font-size: 0.8em;
  color: #857d7d;
}

.login__row .form__part form .form__item input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #b9b9b9;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.login__row .form__part form .form__item input:focus {
  border: 1px solid #f16624;
}

.login__row .form__part form .form__item button {
  padding: 0.5em 1em;
  border: 0;
  background-color: #f16624;
  color: #fff;
  width: 100%;
  padding: 0.8em;
}

.login__row .illustration__part {
  width: 65%;
  height: 100%;
}

.login__row .illustration__part img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .login__row .form__part {
    width: 40%;
  }
  .login__row .illustration__part {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .login__row .form__part {
    width: 50%;
  }
  .login__row .illustration__part {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .login__row .form__part form {
    width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .login__row .form__part {
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/01/18/38/background-1789175_1280.png);
  }
  .login__row .form__part form {
    background-color: #fff;
    padding: 2em;
    width: 300px;
  }
  .login__row .illustration__part {
    display: none;
  }
}

.dash__row {
  height: 100vh;
}

.dash__row .sidebar__part {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.dash__row .sidebar__part .sidebar {
  height: 100%;
  background-color: #f16624;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.075);
}

.dash__row .sidebar__part .sidebar .sys__title {
  padding: 2em 1em;
}

.dash__row .sidebar__part .sidebar .sys__title span {
  font-size: 2em;
  color: #fff;
}

.dash__row .sidebar__part .sidebar .sys__title svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-right: 0.5em;
}

.dash__row .sidebar__part .sidebar .menu__box {
  margin: 2em 0;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item a {
  color: #fff;
  display: block;
  margin: 1em 0;
  padding: 0 1em;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item a svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item .active {
  border-left: 4px solid #fff;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item .active a {
  font-weight: 600;
}

.dash__row .maincontent__part {
  width: 85%;
  margin-left: 15%;
  position: fixed;
  height: 100%;
}

.dash__row .maincontent__part .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8em 0;
  -webkit-box-shadow: 0px -1px 10px -5px;
          box-shadow: 0px -1px 10px -5px;
  position: fixed;
  left: 15%;
  top: 0;
  width: 85%;
  background: #fff;
  z-index: 99;
}

.dash__row .maincontent__part .header .head__item {
  padding: 0 1em;
}

.dash__row .maincontent__part .header .head__item .notification sup {
  background-color: #f16624;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dash__row .maincontent__part .header .head__item svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.dash__row .maincontent__part .header .head__item a {
  color: #f16624;
  text-transform: capitalize;
}

.dash__row .maincontent__part .contents__box {
  padding: 2em;
  margin-top: 3em;
  min-height: 90vh;
  overflow-y: scroll;
}

.dash__row .maincontent__part .footer {
  text-align: center;
  padding: 0.2em;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__row .tab__bar {
  width: 20%;
  border-right: 1px solid #e0ddda;
}

.main__row .tab__bar .tab__item {
  border-bottom: 1px solid #e0ddda;
  padding: 0.8em;
  font-weight: 600;
  color: #857d7d;
  cursor: pointer;
}

.main__row .tab__bar .tab__item .active {
  color: #000;
}

.main__row .tab__bar .tab__item span {
  display: block;
}

.main__row .info__bar {
  width: 80%;
  position: relative;
}

.main__row .info__bar .active {
  visibility: visible;
  opacity: 1;
}

.main__row .info__bar > div {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.main__row .view__cnt {
  padding: 1em;
}

.main__row .view__cnt h3 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.main__row .view__cnt .view__item {
  margin-bottom: 1em;
}

.main__row .view__cnt .view__item label {
  width: 100%;
  font-size: 0.82m;
  color: #857d7d;
}

.main__row .view__cnt .view__item input,
.main__row .view__cnt .view__item textarea,
.main__row .view__cnt .view__item select {
  width: 300px;
  border: 1px solid #f16624;
  padding: 0.2em 0.8em;
  text-transform: capitalize;
}

.main__row .view__cnt .view__item input:focus,
.main__row .view__cnt .view__item textarea:focus,
.main__row .view__cnt .view__item select:focus {
  background-color: #e0ddda;
}

@media screen and (max-width: 1200px) {
  .dash__row .sidebar__part {
    width: 20%;
  }
  .dash__row .maincontent__part {
    width: 80%;
    margin-left: 20%;
  }
  .dash__row .maincontent__part .header {
    left: 20%;
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .dash__row .sidebar__part {
    width: 10%;
  }
  .dash__row .sidebar__part .sidebar .sys__title {
    text-align: center;
  }
  .dash__row .sidebar__part .sidebar .sys__title span {
    font-size: 1em;
  }
  .dash__row .sidebar__part .sidebar .menu__box .menu__item {
    text-align: center;
    margin-bottom: 1.2em;
  }
  .dash__row .sidebar__part .sidebar .menu__box .menu__item a span {
    display: none;
  }
  .dash__row .maincontent__part {
    width: 90%;
    margin-left: 10%;
  }
  .dash__row .maincontent__part .header {
    left: 10%;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .profile__row .tab__bar {
    width: 30%;
  }
  .profile__row .info__bar {
    width: 70%;
  }
}

@media screen and (max-width: 540px) {
  .dash__row .sidebar__part .sidebar .sys__title {
    padding: 1em 1em;
  }
  .dash__row .sidebar__part .sidebar .sys__title svg {
    width: 20px;
    height: 20px;
  }
  .dash__row .sidebar__part .sidebar .sys__title b {
    display: none;
  }
  .dash__row .sidebar__part .sidebar .menu__box .menu__item a svg {
    width: 20px;
    height: 20px;
  }
  .dash__row .maincontent__part .contents__box {
    padding: 0.5em;
  }
  .dash__row .maincontent__part .contents__box .main__row {
    min-height: unset;
  }
  .dash__row .maincontent__part .contents__box .main__row .info__bar {
    width: 100%;
  }
  .dash__row .maincontent__part .contents__box .main__row .tab__bar {
    width: 100%;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dash__row .maincontent__part .contents__box .main__row .view__cnt .view__item input {
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .dash__row .sidebar__part .sidebar .sys__title {
    padding: 0;
    text-align: center;
  }
  .dash__row .sidebar__part .sidebar .menu__box .menu__item {
    text-align: center;
    padding: 0;
  }
  .dash__row .sidebar__part .sidebar .menu__box .menu__item a svg {
    margin-right: 0;
  }
}

svg#robot {
  display: block;
  position: relative;
  margin: 6em auto 0 auto;
  padding: 10px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
          transform: rotate(0deg) translate3d(0px, 0px, 0px);
  -webkit-animation: move 2s ease infinite;
          animation: move 2s ease infinite;
}

@-webkit-keyframes move {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  25% {
    -webkit-transform: rotate(5deg) translate3d(5px, 5px, 0px);
            transform: rotate(5deg) translate3d(5px, 5px, 0px);
  }
  75% {
    -webkit-transform: rotate(-6deg) translate3d(-5px, 5px, 0px);
            transform: rotate(-6deg) translate3d(-5px, 5px, 0px);
  }
}

@keyframes move {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  25% {
    -webkit-transform: rotate(5deg) translate3d(5px, 5px, 0px);
            transform: rotate(5deg) translate3d(5px, 5px, 0px);
  }
  75% {
    -webkit-transform: rotate(-6deg) translate3d(-5px, 5px, 0px);
            transform: rotate(-6deg) translate3d(-5px, 5px, 0px);
  }
}

g#head {
  -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
          transform: rotate(0deg) translate3d(0px, 0px, 0px);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: head 1s 1s ease infinite;
          animation: head 1s 1s ease infinite;
}

g#head #leftAntenna > ellipse,
g#head #rightAntenna > ellipse {
  -webkit-animation: color 350ms linear infinite;
          animation: color 350ms linear infinite;
}

@-webkit-keyframes head {
  0%,
  46%,
  50%,
  55%,
  100% {
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  49% {
    -webkit-transform: rotate(20deg) translate3d(0px, 0px, 0px);
            transform: rotate(20deg) translate3d(0px, 0px, 0px);
  }
  51% {
    -webkit-transform: rotate(-10deg) translate3d(0px, 0px, 0px);
            transform: rotate(-10deg) translate3d(0px, 0px, 0px);
  }
}

@keyframes head {
  0%,
  46%,
  50%,
  55%,
  100% {
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  49% {
    -webkit-transform: rotate(20deg) translate3d(0px, 0px, 0px);
            transform: rotate(20deg) translate3d(0px, 0px, 0px);
  }
  51% {
    -webkit-transform: rotate(-10deg) translate3d(0px, 0px, 0px);
            transform: rotate(-10deg) translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes color {
  0%,
  100% {
    fill: #ccc;
  }
  50% {
    fill: red;
  }
}

@keyframes color {
  0%,
  100% {
    fill: #ccc;
  }
  50% {
    fill: red;
  }
}

#upperTorso {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: torso 600ms 1s ease infinite;
          animation: torso 600ms 1s ease infinite;
}

#upperTorso #leftArm {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 80% 5%;
          transform-origin: 80% 5%;
  -webkit-animation: left 1s ease infinite;
          animation: left 1s ease infinite;
}

#upperTorso #leftArm .forearm {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 68% 10%;
          transform-origin: 68% 10%;
  -webkit-animation: forearm 800ms 1s ease infinite;
          animation: forearm 800ms 1s ease infinite;
}

#upperTorso #rightArm {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 18% 0%;
          transform-origin: 18% 0%;
  -webkit-animation: right 1s ease infinite;
          animation: right 1s ease infinite;
}

#upperTorso #rightArm .forearm {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 68% 10%;
          transform-origin: 68% 10%;
  -webkit-animation: forearm 700ms 1s ease infinite;
          animation: forearm 700ms 1s ease infinite;
}

@-webkit-keyframes torso {
  40%,
  50%,
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  55% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes torso {
  40%,
  50%,
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  55% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes left {
  60% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@keyframes left {
  60% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@-webkit-keyframes right {
  50% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
}

@keyframes right {
  50% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
}

@-webkit-keyframes forearm {
  0%,
  30%,
  50%,
  70%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@keyframes forearm {
  0%,
  30%,
  50%,
  70%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

#lowerTrunk {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 60% 5%;
          transform-origin: 60% 5%;
  -webkit-animation: lowerTrunk 1s ease infinite;
          animation: lowerTrunk 1s ease infinite;
}

@-webkit-keyframes lowerTrunk {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  25% {
    -webkit-transform: rotate(2deg) translate3d(2px, 0px, 0px);
            transform: rotate(2deg) translate3d(2px, 0px, 0px);
  }
  75% {
    -webkit-transform: rotate(-2deg) translate3d(-2px, 0px, 0px);
            transform: rotate(-2deg) translate3d(-2px, 0px, 0px);
  }
}

@keyframes lowerTrunk {
  0%,
  100% {
    -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
            transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  25% {
    -webkit-transform: rotate(2deg) translate3d(2px, 0px, 0px);
            transform: rotate(2deg) translate3d(2px, 0px, 0px);
  }
  75% {
    -webkit-transform: rotate(-2deg) translate3d(-2px, 0px, 0px);
            transform: rotate(-2deg) translate3d(-2px, 0px, 0px);
  }
}

#leftFoot {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 60% 5%;
          transform-origin: 60% 5%;
  -webkit-animation: leftFoot 2s ease infinite;
          animation: leftFoot 2s ease infinite;
}

#leftFoot > .lowerLeg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 68% 10%;
          transform-origin: 68% 10%;
  -webkit-animation: lowerLeg 2s ease infinite;
          animation: lowerLeg 2s ease infinite;
}

@-webkit-keyframes leftFoot {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

@keyframes leftFoot {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

@-webkit-keyframes lowerLeg {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8%,
  14% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  11%,
  18% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes lowerLeg {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8%,
  14% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  11%,
  18% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

#rightFoot {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 5%;
          transform-origin: 50% 5%;
  -webkit-animation: rightFoot 2s ease infinite;
          animation: rightFoot 2s ease infinite;
}

#rightFoot > .lowerLeg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 68% 10%;
          transform-origin: 68% 10%;
  -webkit-animation: lowerLegIz 2s ease infinite;
          animation: lowerLegIz 2s ease infinite;
}

@-webkit-keyframes rightFoot {
  75% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rightFoot {
  75% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes lowerLegIz {
  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60%,
  70% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  65%,
  85% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes lowerLegIz {
  50%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60%,
  70% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  65%,
  85% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.col {
  text-align: center;
}

.col h1 {
  text-shadow: 0 3px 0px #404853, 0 6px 0px #333;
  color: #f54f59;
  font-size: 6em;
  font-weight: 700;
  line-height: 0.6em;
}

.col p {
  color: #ccc;
  font-family: monospace;
  font-size: 0.95em;
  font-weight: 300;
  line-height: 7em;
}

.view_product {
  width: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.cus-alert {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 6%;
  background: #f16624c9;
  border: 1px solid #989292;
  text-transform: capitalize;
  color: #000;
}

.cus-alert.success {
  background-color: #27a027 !important;
}

.link {
  font-size: smaller;
  color: #f16624;
}

.link:hover {
  color: #f16624;
  text-decoration: underline;
}

.primary-btn {
  background-color: #f16624;
  border: 0;
  color: #fff;
}

.secondary-btn {
  background-color: #2d2b29;
  border: 0;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */