@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import "../common/variables";
@import "../common/mixins";
@import "../common/animation";
@import "./pages/animation";
@import "./pages/login";
@import "./pages/layout";
@import "./pages/404";
@import "./pages/profile";

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.cus-alert {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 6%;
  background: #f16624c9;
  border: 1px solid #989292;
  text-transform: capitalize;
  color: #000;
}
.cus-alert.success {
  background-color: rgb(39, 160, 39) !important;
}

.link {
  font-size: smaller;
  color: $primary-color;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.min-height {
  min-height: 80vh;
}

.primary-btn {
  background-color: $primary-color;
  border: 0;
  color: #fff;
}
