@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.login__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.login__row .form__part {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login__row .form__part .site__title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #f16624;
  font-weight: 600;
}

.login__row .form__part form {
  width: 348px;
}

.login__row .form__part form .form__item {
  margin-bottom: 1em;
}

.login__row .form__part form .form__item label {
  display: block;
  width: 100%;
  font-size: 0.8em;
  color: #857d7d;
}

.login__row .form__part form .form__item input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #b9b9b9;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.login__row .form__part form .form__item input:focus {
  border: 1px solid #f16624;
}

.login__row .form__part form .form__item button {
  padding: 0.5em 1em;
  border: 0;
  background-color: #f16624;
  color: #fff;
  width: 100%;
  padding: 0.8em;
}

.login__row .illustration__part {
  width: 65%;
  height: 100%;
}

.login__row .illustration__part img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .login__row .form__part {
    width: 40%;
  }
  .login__row .illustration__part {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .login__row .form__part {
    width: 50%;
  }
  .login__row .illustration__part {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .login__row .form__part form {
    width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .login__row .form__part {
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/01/18/38/background-1789175_1280.png);
  }
  .login__row .form__part form {
    background-color: #fff;
    padding: 2em;
    width: 300px;
  }
  .login__row .illustration__part {
    display: none;
  }
}

.dash__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.dash__row .sidebar__part {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.dash__row .sidebar__part .sidebar {
  height: 100%;
  background-color: #f16624;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.075);
}

.dash__row .sidebar__part .sidebar .sys__title {
  padding: 2em 1em;
}

.dash__row .sidebar__part .sidebar .sys__title span {
  font-size: 2em;
  color: #fff;
}

.dash__row .sidebar__part .sidebar .sys__title svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-right: 0.5em;
}

.dash__row .sidebar__part .sidebar .menu__box {
  margin: 2em 0;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item {
  margin: 1em 0;
  padding: 0 1em;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item a {
  color: #fff;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item a svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item.active {
  border-left: 4px solid #fff;
}

.dash__row .sidebar__part .sidebar .menu__box .menu__item.active a {
  font-weight: 600;
}

.dash__row .maincontent__part {
  width: 85%;
  margin-left: 15%;
}

.dash__row .maincontent__part .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8em 0;
  -webkit-box-shadow: 0px -1px 10px -5px;
          box-shadow: 0px -1px 10px -5px;
  position: fixed;
  left: 15%;
  width: 84%;
  background: #fff;
}

.dash__row .maincontent__part .header .head__item {
  padding: 0 1em;
}

.dash__row .maincontent__part .header .head__item .notification sup {
  background-color: #f16624;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dash__row .maincontent__part .header .head__item svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.dash__row .maincontent__part .header .head__item a {
  color: #f16624;
}

.dash__row .maincontent__part .contents__box {
  padding: 2em;
  margin-top: 3em;
}

.dash__row .maincontent__part .footer {
  text-align: center;
  padding: 0.2em;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.cus-alert {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 6%;
  background: #f16624c9;
  border: 1px solid #989292;
  text-transform: capitalize;
  color: #000;
}

.cus-alert.success {
  background-color: green;
}

.link {
  font-size: smaller;
  color: #f16624;
}

.link:hover {
  color: #f16624;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */