.tbl__cont {
  overflow-x: scroll;
  .tbl {
    width: 100%;
    table-layout: fixed;
    thead {
      tr {
        border-bottom: 1px solid $light-color;
        th {
          text-transform: uppercase;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $light-color;
        transition: $slow-ease;
        cursor: pointer;
        td {
          text-transform: capitalize;
          padding: 0.5em;
        }
        &:hover {
          background-color: $light-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tbl__cont {
    .tbl {
      width: 1024px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .tbl__cont {
    .tbl {
      width: 992px;
    }
  }
}
@media screen and (max-width: 768px) {
  .tbl__cont {
    .tbl {
      width: 800px;
    }
  }
}
