@mixin full-flexer {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexer($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin primary-btn {
  padding: 0.5em 1em;
  border: 0;
}

@mixin input {
  padding: 0.5em;
  border: 1px solid #b9b9b9;
}
