// Colors
$primary-color: #f16624;
$secondary-color: #2d2b29;
$dark-text: #857d7d;
$light-color: #e0ddda;

//Box Shadow
$simple-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.075);
$spreaded-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.075);

$star-color: #f6ab32;

//Font SIze
$small-font: 0.8em;
$medium-font: 1em;
$large-font: 1.5em;
$gaint-font: 2em;

//Font Weight
$small-weight: 400;
$heavy-weight: 600;
$heavier-weight: 900;

//Transition
$slow-ease: 0.3s ease;
